<div class="p-6 bg-white rounded-xl shadow-xl w-96 text-black">
  <h2 class="text-xl font-bold mb-4">Añadir nuevo trasnporte</h2>
  <form [formGroup]="travelForm" (ngSubmit)="onSubmit()">
    <label>Destino</label>
    <input
      formControlName="destination"
      title="destination"
      type="text"
      class="w-full p-2 border rounded mb-4"
      placeholder="EJ:Pinilla"
      required
    />

    <label>ID del viaje</label>
    <input
      formControlName="travelCode"
      title="travelCode"
      type="text"
      class="w-full p-2 border rounded mb-4"
      placeholder="EJ:cr000"
      required
    />

    <div class="mb-4">
      <label>Monto</label>
      <p-inputNumber
        class="w-full custom-NI"
        formControlName="amount"
        mode="decimal"
        [maxFractionDigits]="2"
        placeholder="Ingrese el monto"
      />

      <div class="mt-2 flex items-center">
        <p-checkbox binary="true" formControlName="isWithIV"></p-checkbox>
        <label class="ml-2">IVA incluido</label>
      </div>
    </div>

    <label>Fecha</label>
    <p-datePicker
      formControlName="travelDate"
      class="text-white custom mb-2"
      required
      dataType="date"
      placeholder="dd/mm/yy"
      dateFormat="dd/mm/yy"
    />
    <label>Conductor</label>
    <p-select
      [options]="driverList.data()"
      optionLabel="name"
      optionValue="id"
      class="custom-select mb-2"
      formControlName="driver_id"
      placeholder="Seleccione el conductor"
      required
    />
    <label>Camion</label>
    <p-select
      class="custom-select mb-2"
      formControlName="truck_plate"
      placeholder="Seleccione el camion"
      [options]="truckList.data()"
      optionLabel="name"
      optionValue="plate"
      required
    />
    <label>Cliente</label>
    <p-select
      class="custom-select mb-2"
      formControlName="client_id"
      placeholder="Seleccione el cliente"
      [options]="clientList.data()"
      optionLabel="name"
      optionValue="id"
      required
    />
    <div class="flex justify-around mt-5">
      <p-button
        [tabIndex]="2"
        (onClick)="closeModal()"
        severity="danger"
        variant="outlined"
        label="Cancelar"
      />
      <p-button
        type="submit"
        severity="info"
        raised="true"
        label="Guardar"
        [disabled]="travelForm.invalid"
      />
    </div>
  </form>
</div>
