<div class="p-6 bg-white rounded-xl shadow-xl w-96 text-black">
  <h2 class="text-xl font-bold mb-4">Añadir nuevo trasnporte</h2>
  <form [formGroup]="travelForm" (ngSubmit)="onSubmit()">
    <label class="block mb-2">Destino</label>
    <input
      formControlName="destination"
      title="destination"
      type="text"
      class="w-full p-2 border rounded mb-4"
      placeholder="EJ:Pinilla"
      required
    />

    <label class="block mb-2">ID del viaje</label>
    <input
      formControlName="travelCode"
      title="travelCode"
      type="text"
      class="w-full p-2 border rounded mb-4"
      placeholder="EJ:cr000"
      required
    />

    <div class="mb-4">
      <label class="block mb-2">Monto</label>
  
      <p-inputNumber 
        class="w-full"
        formControlName="amount"
        mode="decimal"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        placeholder="Ingrese el monto"
      ></p-inputNumber>
  
      <div class="mt-2 flex items-center">
        <p-checkbox 
          binary="true"
          formControlName="isWithIV"
        ></p-checkbox>
        <label class="ml-2">IVA incluido</label>
      </div>
    </div>

    <label class="block mb-2">Fecha</label>
    <p-datePicker
      formControlName="travelDate"
      class="text-white custom"
      required
      dataType="date"
      placeholder="dd/mm/yy"
      dateFormat="dd/mm/yy"
    />
    <label class="block mb-2">Conductor</label>
    <p-select
      class="custom-select"
      formControlName="driver_id"
      placeholder="Seleccione el conductor"
      required
    />
    <label class="block mb-2">Camion</label>
    <p-select
      class="custom-select"
      formControlName="truck_plate"
      placeholder="Seleccione el camion"
      required
    />
    <label class="block mb-2">Cliente</label>
    <p-select
      class="custom-select"
      formControlName="client_id"
      placeholder="Seleccione el cliente"
      required
    />
    <div class="flex justify-around mt-5">
      <p-button
        [tabIndex]="2"
        (onClick)="closeModal()"
        severity="danger"
        variant="outlined"
        label="Cancelar"
      />
      <p-button
        type="submit"
        severity="info"
        raised="true"
        label="Guardar"
        [disabled]="travelForm.invalid"
      />
    </div>
  </form>
</div>
