<div class="p-6 bg-white rounded-xl shadow-xl w-96 text-black">
  <h2 class="text-xl font-bold mb-4">Añadir nuevo Gasto</h2>
  <form [formGroup]="expensForm" (ngSubmit)="onSubmit()">
    <label class="block mb-2">Placa</label>
    <input
      formControlName="truck_plate"
      type="text"
      class="w-full p-2 border rounded mb-4"
      title="Placa"
      readonly
    />
    <label>Monto</label>
    <p-inputNumber
      class="w-full custom-NI"
      formControlName="mount"
      mode="decimal"
      [maxFractionDigits]="2"
      placeholder="Ingrese el monto"
    />
    <label class="block mb-2">Descripcion</label>
    <input
      formControlName="name"
      title="Descripcion"
      type="text"
      class="w-full p-2 border rounded mb-4"
      placeholder="Cambio de aceite"
      required
    />

    <label class="block mb-2">Fecha</label>
    <div class="mb-2">
      <p-datePicker
        formControlName="date"
        class="text-white custom"
        required
        dataType="date"
        placeholder="dd/mm/yy"
        dateFormat="dd/mm/yy"
      />
    </div>
    <div class="flex justify-around">
      <p-button
        [tabIndex]="2"
        (onClick)="closeModal()"
        severity="danger"
        variant="outlined"
        label="Cancelar"
      />
      <p-button
        type="submit"
        severity="info"
        raised="true"
        label="Guardar"
        [disabled]="expensForm.invalid"
      />
    </div>
  </form>
</div>
