<p-table
  [value]="trucks.data()?.data || []"
  [paginator]="true"
  [rows]="8"
  selectionMode="single"
  [(selection)]="selectedTrucks"
  [metaKeySelection]="metaKey"
  dataKey="plate"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="w-5xl">Placa</th>
      <th class="w-5xl">Nombre</th>
      <th class="w-3xl">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-truck let-rowIndex="rowIndex">
    <tr [pSelectableRow]="truck" [pSelectableRowIndex]="rowIndex">
      <td>{{ truck.plate }}</td>
      <td>{{ truck.name }}</td>
      <td>
        <div class="p-button-group space-x-2 w-full">
          <p-button
            severity="success"
            label="Añadir Gasto"
            icon="pi pi-cart-plus"
          />
          <p-button severity="warn" label="Editar" icon="pi pi-file-edit" />
          <p-button severity="danger" label="Eliminar" icon="pi pi-trash" />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
