@import "tailwindcss";

html,
body {
  height: 100%;
  background-color: #d4d8dd;
  color: black;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom input {
  background-color: white;
  color: black;
}

.custom span {
  width: 100%;
}

.active {
  background-color: #4caf50;
  color: white;
}

.inactive {
  background-color: #f44336;
  color: white;
}

.custom-select {
  width: 100%;
  background: white !important;
  color: black !important;
}

.custom-select span {
  width: 150px;
  color: black !important;
}

.custom-select li span {
  width: 100px;
  color: white !important;
}

p-datepicker {
  position: relative;
  display: inline-block;
  width: 100%;
}

p-datepicker .p-datepicker-clear-icon {
  color: gray;
  transform: translateX(-150%);
}

p-inputnumber .p-inputnumber-input {
  background-color: white;
  color: black;
}

p-checkbox .p-checkbox-box {
  background-color: white;
}

@layer utilities {
  .bg-main {
    background-color: #1a53d9;
  }
}

:root {
  --table-bg: #ffffff;
  --table-text: black;
}

.p-datatable th,
.p-datatable tr,
.p-paginator {
  background-color: var(--table-bg) !important;
  color: var(--table-text) !important;
}

.p-paginator {
  border-radius: 0px 0px 8px 8px !important;
}
.p-paginator-page {
  background-color: #909ab2 !important;
  color: white !important;
}
.p-paginator-page-selected {
  background-color: #1a53d9 !important;
  color: white !important;
}

.p-paginator-page :hover {
  background-color: #06112c !important;
  color: white !important;
}

.p-splitbutton-button, .p-splitbutton-dropdown {
  background-color: #1a53d9 !important;
  color: white !important;
  border: solid 1px #062a7e  !important;
}


